.widget{
	+ .widget{
		margin:17px 0 0;
	}
}

.widget.tile{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	color:$white;
	font: 20px/1.2 $headings-font-family;
	min-height: 99px;
	padding:14px 17px 16px;
	&.profile {
		background:#b9d0dd;
		font-size: 17px;
		font-weight:300;
		justify-content: flex-start;
		letter-spacing: $letter-spacing-base/(-2);
		padding:15px 13px 16px;
		> div{
			&:last-child {
				text-align:left;
			}
		}
		.avatar{
			margin:0 14px 0 0;
			max-width: 119px;
			min-width: 119px;
		}
		.title{
			display:block;
			font-size: 27px;
			font-weight:normal;
			letter-spacing: 0.02em;
			margin:-5px 0 -3px;
			text-transform:uppercase;
		}
		p{
			margin:0;
		}
	}
	&.shopping {
		background-image: url('images/img02.jpg');
	}
	&.budget {
		background-image: url('images/img03.jpg');
	}
	&.badges {
		background-image: url('images/img04.jpg');
	}
	&.awards {
		background-image: url('images/img05.jpg');
	}
	&.quizzes {
		background-image: url('images/img06.jpg');
	}
	&.form {
		background-image: url('images/img07.jpg');
		// display: flex;
		flex-direction: column;
		// flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
	}
	> div{
		&:last-child {
			text-align:right;
		}
	}
	.title{
		display:block;
		font-family:$headings-font-family;
		font-size: 23px;
		font-weight:normal;
		a{
			color:inherit;
			&:hover {
				color:$base-link-color;
				text-decoration:none;
			}
		}
	}
	.counter{
		font-size: 20px;
		font-weight:300;
		.value{
			display:block;
			font-size: 36px;
			max-resolution:2px 0 0;
		}
	}
	.icon{
		margin:4px -1px 0 0;
	}
	.icon-star{
		background-position:0 -150px;
		height:61px;
		width:56px;
	}
	.icon-cup{
		background-position:0 -250px;
		height:57px;
		width:53px;
	}
	.icon-lamp{
		background-position:0 -350px;
		height:62px;
		width:57px;
	}
	form{
		margin:7px 0 0;
		input[type=email]{
			height:32px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

.btn{
	border: 1px solid rgba($brand-primary, 0.5);
	color:$brand-primary;
	display:inline-block;
	vertical-align:top;
	font-size: 23px;
	font-weight:600;
	padding:4px 13px 6px;
	@include media("<tablet") {
		font-size: 18px;
	}
	&:hover {
		background:rgba($brand-primary, 0.5);
		color:$white;
		text-decoration:none;
	}
}

.btn-link{
	background:none;
	border: 0;
	color:$base-link-color;
	padding:0;
	&:hover {
		color:$brand-primary;
	}
}

.btn-primary{
	background:#b1cbd9;
	border-color: #b1cbd9;
	color:$white;
	&:hover {
		background:darken(#b1cbd9, 15%);
		border-color:darken(#b1cbd9, 15%);
		color:$white;
	}
}

.quote-box{
	background:#b1cbd9;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	color:$white;
	font-size:12px;
	line-height:1.25;
	@include media("<tablet") {
		display:block;
	}
	.image-holder{
		min-width: 63.4%;
		@include media("<widescreen") {
			min-width: 50%;
		}
		img{
			@include media(">=tablet") {
				height:100%;
				object-fit:cover;
				width:100%;
			}
		}
	}
	.slide-content{
		border-left: 1px solid $base-background-color;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: stretch;
		align-items: stretch;
		padding:15px 15px 20px;
		.top{}
		.bottom{
			padding:15px 4px 0;
			text-align:right;
			.title{
				margin:0;
			}
		}
	}
	.title{
		color:#648190;
		display:block;
		font-weight:600;
		margin:0 0 30px;
	}
	p{
		margin:0 0 15px;
	}
	.author{
		color:#648190;
		font-weight:600;
		&:hover {
			color:$base-link-color;
		}
	}
}

.form-inline{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	margin:0 -10px;
	padding:28px 0;
	@include media("<1100px") {
		flex-direction: column;
		align-content: stretch;
		align-items: stretch;
	}
	@include media("<desktop") {
		padding:15px 0;
	}
	@include media("<tablet") {
		display:block;
	}
	.form-group{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		padding:10px;
		@include media("<tablet") {
			display:block;
		}
		&:first-child {
			flex:1 1 auto;
		}
	}
	.title{
		background:#b1cbd9;
		color:$white;
		display:inline-block;
		vertical-align:top;
		font-size:23px;
		font-weight:600;
		line-height:1.3;
		margin:0 20px 0 0;
		padding:4px 16px 8px;
		white-space: nowrap;
		@include media("<tablet") {
			font-size: 18px;
			margin:0 0 15px;
			padding-bottom: 5px;
		}
	}
	input[type=email],
	input[type=text]{
		flex: 1 1 auto;
		margin:0 138px 0 0;
		min-width: 0;
		width:auto;
		@include media("<1300px") {
			margin:0 80px 0 0;
		}
		@include media("<widescreen") {
			margin:0;
		}
		@include media("<tablet") {
			width:100%;
		}
	}
	.btn{
		white-space: nowrap;
	}
}