header#header
	.container
		.col
			strong.logo
				a(href="#")
					img(src="images/logo.png", alt="Reward Your Performance", width="238", height="110")
		.col
			ul.contacts-list
				li
					a(href="#").icon.icon-email
				li
					a(href="#").icon.icon-approvals
				li
					a(href="#").icon.icon-phone
		.col.nav-holder
			nav
				a.nav-opener(href="#")
					span
				.nav-slide
					ul#nav
						li
							a(href="#") Home
						li
							a(href="#") Recognize
						li
							a(href="#") Network
						li
							a(href="#") Leaderboard
						li
							a(href="#") Programs
						li
							a(href="#") Activity